<?xml version='1.0' encoding='utf-8'?>
<widget id="hk.sunnycyk.rbl_api" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RBL_API</name>
    <description>
        A BLE Controller App for Red Bear Lab BLEController Sketch
    </description>
    <author email="sunnycyk@yahoo.com" href="http://sunnycyk.com">
        Sunny Cheung
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
